<footer class="page-footer light-green darken-2">
    <div class="container">
        <div class="row">
            <div class="col l9 s12">
                {#<h5 class="white-text">Titel</h5>#}
                <p class="grey-text text-lighten-4">Dies ist eine Ansammlung aller uner ammonix.ch gehosteten Applikationen.</p>
            </div>
            {#<div class="col l3 s12">#}
                {#<h5 class="white-text">Links</h5>#}
                {#<ul>#}
                    {#<li><a class="white-text" href="#">Link 1</a></li>#}
                    {#<li><a class="white-text" href="#">Link 2</a></li>#}
                    {#<li><a class="white-text" href="#">Link 3</a></li>#}
                    {#<li><a class="white-text" href="#">Link 4</a></li>#}
                {#</ul>#}
            {#</div>#}
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="green-text text-lighten-2" href="https://github.com/ammonix">Joan Künzler</a>
            and <a class="green-text text-lighten-2" href="https://github.com/DeHeeeb">Lukas Heeb</a>
        </div>
    </div>
</footer>
